/********************  Boaz formating start **********************/


/* body,
html {
    overflow-x: hidden;
} */

body {
    max-width: 2570px;
    margin: auto;
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.1em;
    font-weight: 400;
}

button {
    background-color: transparent;
    border: 0;
}

ul {
    list-style: none;
}

.container {
    position: relative;
}

.cursor {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.float-right {
    float: right;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-transform-uppercase {
    text-transform: uppercase
}

.t-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.animate-in {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.promotions-content__img-text-box__div,
.promotions-content__link-box,
.about-content__img-text-box__img-box__one-img-box,
.gallery-content__sildes,
.products-content__flex-box__div {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s, transform 1.5s;
}

.page-header__img {
    margin-right: 0.5em;
    top: -0.19em;
    width: 5%;
}

.slider-content__img-text-box__text-box__h1,
.promotions-content__h2,
.about-content__img-text-box__text-box__h3,
.gallery-content__h4,
.products-content___h5,
.products-content__flex-box__div__text-box__div__h6 {
    font-family: 'League Spartan', sans-serif;
}


/********************  Header formating start **********************/

header,
p,
a,
ul,
li .footer-content__links-box__h5,
.footer-content__opening-hours__div__h5 {
    font-family: 'Montserrat', sans-serif;
}

.header__right-box__div__link {
    color: #000;
    text-decoration: none;
}

.header__right-box__div__link__img {
    width: 4.5vh;
    top: 4px;
}

.header__right-box__div {
    padding: 1% 0 0 5%;
}

.navbar {
    align-items: center;
    margin-left: 2rem;
    max-width: 100%;
}

.navbar-logo-box {
    width: 10%;
    margin: -2.2% 2% 0 0;
}

.navbar-logo-box__img {
    width: 100%;
}

.menu {
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 4.7%;
    width: 90%;
    min-height: 4rem;
}

.menu,
footer {
    background-color: #D74558;
}

.menu.active {
    right: 0;
}

.menu li {
    padding-right: 5em;
}

.menu__elem--pr-0 {
    padding-right: 0 !important;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.header__right-box__div__link,
.menu li a {
    font-size: 1.1rem;
    font-weight: 300;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 33px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.header__right-box,
.menu {
    justify-content: end;
}

.header__right-box {
    margin: 0.7em 5% 0.7em 0;
}

.menu__link__img {
    width: 30px;
}

.menu__elem__link--font-w {
    font-weight: 700!important;
}


/********************  Header formating end **********************/


/********************  Slider formating start **********************/

.matrix-text__span {
    opacity: 0;
    display: inline-block;
    transform: translateY(100%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slider-content__img {
    width: 100%;
    height: 100%;
}

.slider-content__img-text-box {
    top: 3em;
    right: 0;
}

.slider-content__img-text-box__text-box__h1 {
    font-weight: 400;
    color: #fff;
    width: 60%;
    float: right;
    font-size: 2.5em;
    line-height: 1.2em;
}

.slider-content__img-text-box__img-box__img {
    width: 80%;
    margin-top: 2.5em !important;
    display: block;
    margin: auto;
}

.slider-content__img-text-box__text-box {
    width: 87%;
}

.slider-content__img-text-box__img-box {
    width: 13%;
}


/********************  Slider formating end **********************/


/********************  Promotions formating start **********************/

.promotions-content,
.blog-custom-content {
    padding: 2em 5em;
    background-image: url(../img/promotions/%.svg);
    background-size: cover;
    background-position: bottom;
    background-position-y: -30em;
    background-repeat: no-repeat;
}

.promotions-content__h2,
.promotions-content__img-text-box__div__number-box__p,
.page-link {
    color: #373D46;
}

.promotions-content__h2,
.about-content__img-text-box__text-box__h3,
.gallery-content__h4,
.products-content___h5 {
    font-size: 2rem;
}

.promotions-content__img-text-box__div {
    width: 25%;
}

.promotions-content__img-text-box__div__margin-box {
    margin: 0 0.5em;
}

.promotions-content__img-text-box__div__img {
    width: 100%;
    height: 300px;
}

.promotions-content__img-text-box__div__name-panel__p {
    margin: 0 0 0.5em 0;
    background: #000;
    color: #fff;
    padding: 0.5em 1em;
}

.promotions-content__img-text-box__div__bottom-panel {
    background: #D74558;
    margin-top: -5px;
    justify-content: space-between;
    padding: 1em;
}

.promotions-content__img-text-box__div__bottom-panel__p {
    margin: 0;
    color: #fff;
}

.promotions-content__link-box {
    margin: 5em 0 3.5em 0;
}

.page-link {
    font-weight: 600;
    border: 2px solid #373D46;
    padding: 0.9em 4em;
}

.page-link:hover {
    background: #373D46;
    color: #fff;
    transition: all 1s;
}

.promotions-content__img-text-box__div__number-box {
    top: 1em;
    right: 1.5em;
    background: #FEFFFE;
    padding: 0 0.5em;
    border-radius: 50%;
}

.promotions-content__img-text-box__div__number-box__p {
    font-weight: 600;
}

.promotions-content__img-text-box__div__bottom-panel__p {
    font-size: 1.3em;
}

.promotions-content__img-text-box__div__bottom-panel__p--font-fomating {
    text-decoration: line-through;
    font-weight: 300;
}

.promotions-content__img-text-box__div__bottom-panel__p--next-font-formating {
    font-weight: 600;
}

.promotions-content__img-text-box__div--subpage-formating {
    width: 34%;
}

.promotions-content--subpage-formating {
    padding-bottom: 5em;
}

.promotions-content__img-text-box__div__bottom-panel__subpage-formating {
    font-size: 1.1rem !important;
}

.promotions-content__img-text-box__div__bottom-panel__p__link__img {
    width: 90px;
}

.blog-custom-content__img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.blog-custom-content p {
    font-size: 1.1rem;
}

.blog-custom-content__link-box {
    margin: 3.5em 0 2.3em 0;
}


/********************  Promotions formating end **********************/


/********************  About formating start **********************/

.about-content__img-text-box__img-box {
    width: 40%;
}

.about-content__img-text-box__text-box,
.products-content {
    background: #f4f4f4;
}

.about-content__img-text-box__text-box {
    width: 60%;
    padding: 3em 0 0 5em;
}

.about-content__img-text-box__img-box__img,
.gallery-content__sildes__img,
.gallery-content__row__column__img {
    width: 100%;
}

.about-content__img-text-box__img-box__img,
.gallery-content__row__column__img,
.products-content__flex-box__div__text-box__img,
.promotions-content__img-text-box__div__img {
    object-fit: cover;
}

.about-content__img-text-box__img-box__img,
.products-content__flex-box__div__text-box,
.footer-content__google-map__div {
    height: 100%;
}

.about-content__img-text-box__text-box__p {
    width: 55%;
}

.about-content__img-text-box__img-box__one-img-box {
    bottom: 3em;
    left: -22%;
}

.about-content__img-text-box__img-box__one-img-box__img {
    width: 250px;
}

.about-content__img-text-box__text-box--subpage-format,
.about-content__img-text-box__text-box__p--subpage-format {
    width: 100% !important;
}

.about-content__img-text-box__text-box--subpage-format {
    padding: 3em 5em 4em 5em !important;
}

.about-content__img-text-box__text-box__ul__li {
    margin: 1.3em 0;
}

.about-content__img-text-box__text-box__link-box {
    margin: 3.5em 0 1.3em 0;
}


/********************  About formating end **********************/


/********************  Gallery formating start **********************/

.gallery-content__sildes {
    display: none;
}

.gallery-content__prev,
.gallery-content__next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.gallery-content__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.gallery-content__sildes__numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.gallery-content__caption-container {
    text-align: center;
    color: white;
}

.gallery-content__row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-content__row__column {
    float: left;
    width: 16.66%;
}

.gallery-content__row__column__demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.gallery-content__sildes {
    margin: 0 13em 1.1em 13em;
}

.gallery-content__sildes__img {
    height: 700px;
    object-fit: cover;
}

.gallery-content__prev__img,
.gallery-content__next__img {
    width: 60%;
}

.gallery-content__prev {
    left: 5em;
}

.gallery-content__next {
    right: 5em;
}

.gallery-content__row__column__img,
.products-content__flex-box__div__text-box__img {
    object-fit: cover;
}

.gallery-content__row__column__img {
    height: 150px;
}

.gallery-content__page-header-box {
    text-align: end;
    margin: 5em 4em -0.5em 0;
}

.gallery-content__page-header-box__img {
    margin: 0 0 0 0.5em;
    width: 3%;
}

.gallery-content__row {
    margin: 0 5em 5em 5em;
}


/********************  Gallery formating end **********************/


/********************  Products formating start **********************/

.products-content__header-box {
    padding: 1em 0 1em 5em;
}

.products-content__flex-box__div,
.footer-content__div {
    width: 34%;
}

.products-content__flex-box__div {
    background-repeat: no-repeat;
    background-size: cover;
}

.products-content__flex-box__div--one-bg-img {
    background-image: url(../img/products/product.webp);
}

.products-content__flex-box__div--two-bg-img {
    background-image: url(../img/products/product2.webp);
}

.products-content__flex-box__div--three-bg-img {
    background-image: url(../img/products/product3.webp);
}

.products-content__flex-box__div--four-bg-img {
    background-image: url(../img/products/product4.webp);
}

.products-content__flex-box__div--five-bg-img {
    background-image: url(../img/products/product5.webp);
}

.products-content__flex-box__div--six-bg-img {
    background-image: url(../img/products/product6.webp);
}

.products-content__flex-box__div {
    height: 500px;
}

.products-content__flex-box__div__text-box__div {
    border: 5px solid #fff;
    margin: 1rem;
    height: 93.5%;
}

.products-content__flex-box__div__text-box__div__h6 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.3rem;
    text-align: center;
    line-height: 2.3rem;
}


/********************  Products formating end **********************/


/********************  Footer formating start **********************/

.footer-content {
    padding: 3em 5em 1em 5em;
    color: #fff;
}

.footer-content__links-box__h5,
.footer-content__opening-hours__div__h5 {
    font-size: 1.3rem;
}

.footer-content__links-box__p,
.footer-content__opening-hours__div__p {
    margin: 1em 0;
}

.footer-content__links-box__p__link,
.footer-content__opening-hours__div__p {
    font-size: 1rem;
}

.footer-content__links-box__p__link {
    color: #fff;
}

.footer-content__google-map__div__iframe {
    height: 90%;
    width: 100%;
}

.footer-content__links-box__p__img {
    width: 13px;
    top: 0.1em;
    margin-right: 0.5em;
}

.footer-content__opening-hours__div {
    width: 50%;
}


/********************  Footer formating end **********************/


/********************  Contact subpage formating start **********************/

.contact-subpage__iframe {
    width: 100%;
    height: 500px;
}


/********************  Contact subpage formating end **********************/


/********************  Media start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.6em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5.7rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.6rem;
    }
    .menu li {
        padding-right: 11em;
    }
    .menu__link__img {
        width: 40px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 3.5em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 55%;
        margin-top: 4em !important;
    }
    .promotions-content__img-text-box__div__img {
        height: 500px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 3rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: .5em 1.2em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 2em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.7em;
    }
    .page-link {
        font-size: 1.5rem;
    }
    .promotions-content__link-box {
        margin: 8em 0 5.9em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 400px;
    }
    .gallery-content__row__column__img {
        height: 250px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 700px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 2.2rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1.5rem;
    }
    .footer-content {
        padding: 4.7em 5em 1em 5em;
    }
    .contact-subpage__iframe {
        height: 650px;
    }
}

@media (min-width: 2000px) and (max-width: 2200px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.5em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5.7rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.5rem;
    }
    .menu li {
        padding-right: 7em;
    }
    .menu__link__img {
        width: 40px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 3.1em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 50%;
        margin-top: 4.3em !important;
    }
    .promotions-content__img-text-box__div__img {
        height: 450px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 3rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: .5em 1.2em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 2em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.7em;
    }
    .page-link {
        font-size: 1.5rem;
    }
    .promotions-content__link-box {
        margin: 8em 0 5.9em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 360px;
    }
    .gallery-content__row__column__img {
        height: 250px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 700px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 3.2rem;
        line-height: 3.5rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 2.1rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1.3rem;
    }
    .footer-content {
        padding: 4.3em 5em 1em 5em;
    }
    .contact-subpage__iframe {
        height: 650px;
    }
}

@media (min-width: 2000px) and (max-width: 2200px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.5em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5.7rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.5rem;
    }
    .menu li {
        padding-right: 9.5em;
    }
    .contact-subpage__iframe {
        height: 650px;
    }
}

@media (min-width: 1800px) and (max-width: 2000px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.4em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5.7rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.4rem;
    }
    .menu li {
        padding-right: 8.5em;
    }
    .menu__link__img {
        width: 40px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 2.7em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 100%;
        margin-top: 2.6em;
    }
    .promotions-content__img-text-box__div__img {
        height: 400px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2.8rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.2em 0.8em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1.7em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.7em;
    }
    .page-link {
        font-size: 1.3rem;
    }
    .promotions-content__link-box {
        margin: 8em 0 5.9em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 320px;
    }
    .gallery-content__row__column__img {
        height: 230px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 700px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 3.1rem;
        line-height: 3.3rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 2.1rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1.3rem;
    }
    .footer-content {
        padding: 4.3em 5em 1em 5em;
    }
    .contact-subpage__iframe {
        height: 650px;
    }
}

@media (min-width: 1600px) and (max-width: 1800px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.3em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5.7rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.3rem;
    }
    .menu li {
        padding-right: 7em;
    }
    .menu__link__img {
        width: 40px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 2.7em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 55%;
        margin-top: 3.5em !important;
    }
    .promotions-content__img-text-box__div__img {
        height: 350px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2.8rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.2em 0.8em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1.7em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.7em;
    }
    .page-link {
        font-size: 1.3rem;
    }
    .promotions-content__link-box {
        margin: 8em 0 5.9em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 280px;
    }
    .gallery-content__row__column__img {
        height: 230px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 600px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 2.6rem;
        line-height: 3rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 2.1rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1.2rem;
    }
    .footer-content {
        padding: 4.3em 5em 1em 5em;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.2em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5.7rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.3rem;
    }
    .menu li {
        padding-right: 6.5em;
    }
    .menu__link__img {
        width: 40px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 2.7em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 65%;
        margin-top: 4.5em !important;
    }
    .promotions-content__img-text-box__div__img {
        height: 320px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2.5rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.2em 0.8em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1.3em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.5em;
    }
    .page-link {
        font-size: 1.1rem;
    }
    .promotions-content__link-box {
        margin: 6em 0 4em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 280px;
    }
    .gallery-content__row__column__img {
        height: 230px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 500px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 2.6rem;
        line-height: 3rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 1.9rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1.1rem;
    }
    .footer-content {
        padding: 4.3em 5em 1em 5em;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: 1.2em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1.3rem;
    }
    .menu li {
        padding-right: 5.5em;
    }
    .menu__link__img {
        width: 40px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 2.7em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 65%;
        margin-top: 5.3em !important;
    }
    .about-content__img-text-box__text-box {
        padding: 3em 0 3em 5em;
    }
    .promotions-content__img-text-box__div__img {
        height: 300px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2.3rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.2em 0.8em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1.3em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.5em;
    }
    .page-link {
        font-size: 1.1rem;
    }
    .promotions-content__link-box {
        margin: 6em 0 4em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 280px;
    }
    .gallery-content__row__column__img {
        height: 170px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 500px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 2.6rem;
        line-height: 3rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 1.8rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1.1rem;
    }
    .footer-content__links-box__p {
        width: 90%;
    }
    .footer-content {
        padding: 4.3em 5em 1em 5em;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: .9em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 5rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1rem;
    }
    .menu li {
        padding-right: 5em;
    }
    .menu__link__img {
        width: 30px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 2.1em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 70%;
        margin-top: 3.8em !important;
    }
    .about-content__img-text-box__text-box {
        padding: 3em 0 3em 5em;
    }
    .promotions-content__img-text-box__div__img {
        height: 250px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2.1rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.1em 0.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1.3em;
    }
    .promotions-content__h2 {
        margin-top: 1.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.1em;
    }
    .page-link {
        font-size: 1rem;
    }
    .promotions-content__link-box {
        margin: 6em 0 4em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 280px;
    }
    .gallery-content__row__column__img {
        height: 170px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 430px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 2.1rem;
        line-height: 2.1rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 1.5rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: 1rem;
    }
    .footer-content__links-box__p {
        width: 90%;
    }
    .footer-content {
        padding: 3.2em 5em 1em 5em;
    }
    .footer-content__opening-hours__div {
        width: max-content;
    }
    .footer-content__opening-hours__div__p__strong {
        margin-left: 3em;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: .9em;
    }
    .navbar-logo-box {
        width: 9.5%;
    }
    .menu {
        min-height: 4rem;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: .9rem;
    }
    .menu li {
        padding-right: 4em;
    }
    .menu__link__img {
        width: 25px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 1.5em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 55%;
        margin-top: 2em !important;
    }
    .about-content__img-text-box__text-box {
        padding: 3em 0 3em 5em;
    }
    .promotions-content__img-text-box__div__img {
        height: 190px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.1em 0.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1em;
    }
    .promotions-content__h2 {
        margin-top: 1em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1em;
    }
    .page-link {
        font-size: .9rem;
    }
    .promotions-content__link-box {
        margin: 6em 0 4em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 220px;
    }
    .gallery-content__row__column__img {
        height: 120px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 360px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 1.3rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: .9rem;
    }
    .footer-content__links-box__p {
        width: 90%;
    }
    .footer-content {
        padding: 3.2em 5em 1em 5em;
    }
    .footer-content__opening-hours__div {
        width: max-content;
    }
    .footer-content__opening-hours__div__p__strong {
        margin-left: 3em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d-flex-wrap {
        flex-wrap: wrap;
    }
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: .9em;
    }
    .hamburger {
        display: flex;
        background: #d74558;
        padding: 0.5rem;
        margin: 0 1.5em 0 0;
        bottom: 33px;
    }
    .menu.hidden {
        display: none;
    }
    .menu {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: #D74558;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 100;
        margin: 0;
        border: 5px solid #fff;
        border-bottom: 0;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        margin: 10px;
    }
    .header__right-box,
    .menu {
        justify-content: end;
    }
    .header__right-box,
    .menu {
        flex-direction: column;
    }
    .navbar {
        align-items: baseline;
        flex-direction: unset;
    }
    .header__right-box {
        text-align: left;
    }
    .header__right-box__div {
        margin-bottom: 0.5em;
    }
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-logo-box {
        width: 15%;
        margin: 0;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: 1rem;
    }
    .menu li {
        padding-right: 0;
        margin-bottom: 1em;
    }
    .menu__link__img {
        width: 25px;
    }
    .slider-content__img-text-box {
        right: 3em;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 1.5em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 80%;
        margin-top: 2.5em !important;
    }
    .about-content__img-text-box__text-box {
        padding: 3em 0 3em 4em;
    }
    .about-content__img-text-box__text-box__p {
        width: 60%;
    }
    .promotions-content {
        padding: 2em 4em;
    }
    .promotions-content__img-text-box__div {
        width: 50%;
    }
    .promotions-content__img-text-box__div__margin-box {
        margin: 0 0.5em 1em 0.5em;
    }
    .promotions-content__img-text-box__div__img {
        height: 270px;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 1.8rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.1em 0.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1em;
    }
    .promotions-content__h2 {
        margin-top: 1em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1em;
    }
    .page-link {
        font-size: .9rem;
    }
    .promotions-content__link-box {
        margin: 4em 0 4em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 220px;
    }
    .gallery-content__prev,
    .gallery-content__next {
        top: 29%;
    }
    .gallery-content__row__column__img {
        height: 100px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__flex-box__div {
        height: 550px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
    .products-content__flex-box__div,
    .footer-content__div {
        width: 100%;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 1.3rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: .9rem;
    }
    .footer-content__links-box__p {
        width: 90%;
    }
    .footer-content {
        padding: 2em 5em 4em 4em
    }
    .footer-content__opening-hours__div {
        width: max-content;
    }
    .footer-content__opening-hours__div__p__strong {
        margin-left: 3em;
    }
    .footer-content__google-map__div__iframe {
        height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .d-flex-wrap {
        flex-wrap: wrap;
    }
    .page-header__img {
        width: 13%;
    }
    p,
    .about-content__img-text-box__text-box__ul__li {
        font-size: .9em;
    }
    .hamburger {
        display: flex;
        background: #d74558;
        padding: 0.5rem;
        margin: 0 1.5em 0 0;
        bottom: 33px;
    }
    .menu.hidden {
        display: none;
    }
    .menu {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-color: #D74558;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 100;
        margin: 0;
        border: 5px solid #fff;
        border-bottom: 0;
        min-height: 100%;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        margin: 10px;
    }
    .header__right-box,
    .menu {
        justify-content: flex-start;
    }
    .header__right-box,
    .menu {
        flex-direction: column;
    }
    .navbar {
        align-items: baseline;
        flex-direction: unset;
    }
    .header__right-box {
        text-align: left;
    }
    .header__right-box__div {
        margin-bottom: 0.5em;
    }
    .header__right-box__div__link__img {
        width: 3vh;
    }
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-logo-box {
        width: 33%;
        margin: 0;
    }
    .header__right-box__div__link,
    .menu li a {
        font-size: .9rem;
    }
    .menu li {
        padding-right: 1em;
        margin: 1.6em 0 0 0;
    }
    .menu__link__img {
        width: 30px;
        margin-left: -14px;
    }
    .slider-content__img-text-box {
        right: 0;
        top: 0;
    }
    .slider-content__img-text-box__text-box__h1 {
        font-size: 1.4em;
        width: 90%;
        margin-top: 1.8em;
    }
    .slider-content__img-text-box__img-box__img {
        width: 100%;
        margin-top: 4em !important;
    }
    .about-content__img-text-box__text-box {
        padding: 2em 3em 3em 3em;
    }
    .about-content__img-text-box__text-box__p {
        width: 100%;
    }
    .about-content__img-text-box__img-box__one-img-box {
        display: none;
    }
    .about-content__img-text-box__text-box {
        width: 100%;
    }
    .about-content__img-text-box__img-box {
        width: 100%;
    }
    .about-content__img-text-box__text-box--subpage-format {
        padding: 2em 3em 3em 3em !important;
    }
    .about-content__img-text-box__text-box__link-box {
        margin: 2.9em 0 0em 0;
    }
    .promotions-content {
        padding: 2em 2em;
    }
    .promotions-content__img-text-box__div {
        width: 100%;
    }
    .promotions-content__img-text-box__div__margin-box {
        margin: 0 0.5em 2.8em 0.5em;
    }
    .promotions-content__img-text-box__div__img {
        height: 100%;
    }
    .promotions-content__h2,
    .about-content__img-text-box__text-box__h3,
    .gallery-content__h4,
    .products-content___h5 {
        font-size: 2rem;
    }
    .promotions-content__img-text-box__div__number-box {
        padding: 0.1em 0.5em;
    }
    .promotions-content__img-text-box__div__bottom-panel {
        padding: 1em;
    }
    .promotions-content__h2 {
        margin-top: 1em;
    }
    .promotions-content__img-text-box__div__bottom-panel__p {
        font-size: 1.2em;
    }
    .page-link {
        font-size: .9rem;
    }
    .promotions-content__link-box {
        margin: 2em 0 3em 0;
    }
    .about-content__img-text-box__img-box__one-img-box__img {
        width: 220px;
    }
    .gallery-content__page-header-box {
        margin: 0em 2em 0.5em 0;
    }
    .gallery-content__sildes {
        margin: 0 4em 1.1em 4em;
    }
    .gallery-content__sildes__img {
        height: 150px;
        object-fit: cover;
    }
    .gallery-content__prev,
    .gallery-content__next {
        display: none;
    }
    .gallery-content__prev {
        left: 0;
    }
    .gallery-content__next {
        right: 0;
    }
    .gallery-content__prev,
    .gallery-content__next {
        top: 36%;
    }
    .gallery-content__row {
        margin: 0 2em 5em 2em;
    }
    .gallery-content__row__column__img {
        height: 50px;
    }
    .gallery-content__h4,
    .products-content___h5 {
        margin-top: 2.5em;
    }
    .products-content__header-box {
        padding: 1em 0 1em 2em;
    }
    .products-content__flex-box__div {
        height: 470px;
    }
    .products-content__flex-box__div__text-box__div__h6 {
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
    .products-content__flex-box__div,
    .footer-content__div {
        width: 100%;
    }
    .footer-content__links-box__h5,
    .footer-content__opening-hours__div__h5 {
        font-size: 1.3rem;
    }
    .footer-content__links-box__p__link,
    .footer-content__opening-hours__div__p {
        font-size: .9rem;
    }
    .footer-content__links-box__p {
        width: 90%;
    }
    .footer-content {
        padding: 2em 3em 4em 3em;
    }
    .footer-content__opening-hours {
        margin-bottom: 2em;
    }
    .footer-content__opening-hours__div {
        width: max-content;
    }
    .footer-content__opening-hours__div__p__strong {
        margin-left: 3em;
    }
    .footer-content__google-map__div__iframe {
        height: 100%;
    }
    .contact-subpage__iframe {
        height: 100%;
    }
    .promotions-content__img-text-box__div__bottom-panel__subpage-formating {
        font-size: 1rem !important;
    }
    .promotions-content__img-text-box__div__bottom-panel__p__link__img {
        width: 70px;
        margin-top: 20px;
    }
    .blog-custom-content {
        padding: 2em 2em;
        background-repeat: no-repeat;
    }
    .blog-custom-content p {
        font-size: 1rem;
    }
}

@media (min-width: 640px) and (max-width: 768px) {}

@media (min-width: 500px) and (max-width: 640px) {}

@media (min-width: 400px) and (max-width: 500px) {}

@media (min-width: 300px) and (max-width: 400px) {
    .slider-content__img-text-box__text-box__h1 {
        margin-top: 1em;
    }
}


/********************  Media end **********************/


/********************  Boaz formating end **********************/