/********************  Boaz formating start **********************/


/* body,
html {
    overflow-x: hidden;
} */

body {
    max-width: 2570px;
    margin: auto;
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.1em;
    font-weight: 400;
}

button {
    background-color: transparent;
    border: 0;
}

.container {
    position: relative;
}

.cursor {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.float-right {
    float: right;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-transform-uppercase {
    text-transform: uppercase
}

.t-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.page-header__img {
    margin-right: 0.5em;
    top: -0.19em;
    width: 5%;
}

.slider-content__img-text-box__text-box__h1,
.promotions-content__h2,
.about-content__img-text-box__text-box__h3,
.gallery-content__h4,
.products-content___h5,
.products-content__flex-box__div__text-box__div__h6 {
    font-family: 'League Spartan', sans-serif;
}


/********************  Header formating start **********************/

header,
p,
a,
.footer-content__links-box__h5,
.footer-content__opening-hours__div__h5 {
    font-family: 'Montserrat', sans-serif;
}

.header__right-box__div__link {
    color: #000;
    text-decoration: none;
}

.header__right-box__div__link__img {
    width: 4.5vh;
    top: 4px;
}

.header__right-box__div {
    padding: 1% 0 0 5%;
}

.navbar {
    align-items: center;
    margin-left: 2rem;
    max-width: 100%;
}

.navbar-logo-box {
    width: 10%;
    margin: -2.2% 2% 0 0;
}

.navbar-logo-box__img {
    width: 100%;
}

.menu {
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 4.7%;
    width: 90%;
    min-height: 4rem;
}

.menu,
footer {
    background-color: #D74558;
}

.menu.active {
    right: 0;
}

.menu li {
    padding-right: 5em;
}

.menu__elem--pr-0 {
    padding-right: 0 !important;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.header__right-box__div__link,
.menu li a {
    font-size: 1.1rem;
    font-weight: 300;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.header__right-box,
.menu {
    justify-content: end;
}

.header__right-box {
    margin: 0.7em 5% 0.7em 0;
}

.menu__link__img {
    width: 30px;
}

.menu__elem__link--font-w {
    font-weight: 700!important;
}


/********************  Header formating end **********************/


/********************  Slider formating start **********************/

.slider-content__img {
    width: 100%;
    height: 100%;
}

.slider-content__img-text-box {
    top: 3em;
    right: 0;
}

.slider-content__img-text-box__text-box__h1 {
    font-weight: 400;
    color: #fff;
    width: 45%;
    float: right;
    font-size: 2.5em;
}

.slider-content__img-text-box__img-box__img {
    width: 80%;
    margin-top: 2.5em;
}


/********************  Slider formating end **********************/


/********************  Promotions formating start **********************/

.promotions-content {
    padding: 2em 5em;
    background-image: url(../img/promotions/%.svg);
    background-size: cover;
    background-position: bottom;
    background-position-y: -30em;
    background-repeat: no-repeat;
}

.promotions-content__h2,
.promotions-content__img-text-box__div__number-box__p,
.page-link {
    color: #373D46;
}

.promotions-content__h2,
.about-content__img-text-box__text-box__h3,
.gallery-content__h4,
.products-content___h5 {
    font-size: 2rem;
}

.promotions-content__img-text-box {
    flex-wrap: wrap;
}

.promotions-content__img-text-box__div {
    width: 25%;
}

.promotions-content__img-text-box__div__margin-box {
    margin: 0 0.5em;
}

.promotions-content__img-text-box__div__img {
    width: 100%;
    height: 300px;
}

.promotions-content__img-text-box__div__bottom-panel {
    background: #D74558;
    margin-top: -5px;
    justify-content: space-between;
    padding: 1em;
}

.promotions-content__img-text-box__div__bottom-panel__p {
    margin: 0;
    color: #fff;
}

.promotions-content__link-box {
    margin: 5em 0 3.5em 0;
}

.page-link {
    font-weight: 600;
    border: 2px solid #373D46;
    padding: 0.9em 4em;
}

.page-link:hover {
    background: #373D46;
    color: #fff;
    transition: all 1s;
}

.promotions-content__img-text-box__div__number-box {
    top: 1em;
    right: 1.5em;
    background: #FEFFFE;
    padding: 0 0.5em;
    border-radius: 50%;
}

.promotions-content__img-text-box__div__number-box__p {
    font-weight: 600;
}

.promotions-content__img-text-box__div__bottom-panel__p {
    font-size: 1.3em;
}

.promotions-content__img-text-box__div__bottom-panel__p--font-fomating {
    text-decoration: line-through;
    font-weight: 300;
}

.promotions-content__img-text-box__div__bottom-panel__p--next-font-formating {
    font-weight: 600;
}


/********************  Promotions formating end **********************/


/********************  About formating start **********************/

.about-content__img-text-box__img-box {
    width: 40%;
}

.about-content__img-text-box__text-box,
.products-content {
    background: #f4f4f4;
}

.about-content__img-text-box__text-box {
    width: 60%;
    padding: 3em 0 0 5em;
}

.about-content__img-text-box__img-box__img,
.gallery-content__sildes__img,
.gallery-content__row__column__img {
    width: 100%;
}

.about-content__img-text-box__img-box__img,
.gallery-content__row__column__img,
.products-content__flex-box__div__text-box__img {
    object-fit: cover;
}

.about-content__img-text-box__img-box__img,
.products-content__flex-box__div__text-box,
.footer-content__google-map__div {
    height: 100%;
}

.about-content__img-text-box__text-box__p {
    width: 450px;
}

.about-content__img-text-box__img-box__one-img-box {
    bottom: 3em;
    left: -8em;
}

.about-content__img-text-box__img-box__one-img-box__img {
    width: 250px;
}


/********************  About formating end **********************/


/********************  Gallery formating start **********************/

.gallery-content__sildes {
    display: none;
}

.gallery-content__prev,
.gallery-content__next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.gallery-content__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.gallery-content__sildes__numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.gallery-content__caption-container {
    text-align: center;
    color: white;
}

.gallery-content__row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-content__row__column {
    float: left;
    width: 16.66%;
}

.gallery-content__row__column__demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.gallery-content__sildes {
    margin: 0 13em 1.1em 13em;
}

.gallery-content__prev__img,
.gallery-content__next__img {
    width: 60%;
}

.gallery-content__prev {
    left: 5em;
}

.gallery-content__next {
    right: 5em;
}

.gallery-content__row__column__img,
.products-content__flex-box__div__text-box__img {
    object-fit: cover;
}

.gallery-content__row__column__img {
    height: 150px;
}

.gallery-content__page-header-box {
    text-align: end;
    margin: 5em 4em -0.5em 0;
}

.gallery-content__page-header-box__img {
    margin: 0 0 0 0.5em;
    width: 3%;
}

.gallery-content__row {
    margin: 0 5em 5em 5em;
}


/********************  Gallery formating end **********************/


/********************  Products formating start **********************/

.products-content__header-box {
    padding: 1em 0 1em 5em;
}

.products-content__flex-box__div,
.footer-content__div {
    width: 34%;
}

.products-content__flex-box__div {
    background-repeat: no-repeat;
    background-size: cover;
}

.products-content__flex-box__div--one-bg-img {
    background-image: url(../img/products/product.webp);
}

.products-content__flex-box__div--two-bg-img {
    background-image: url(../img/products/product2.webp);
}

.products-content__flex-box__div--three-bg-img {
    background-image: url(../img/products/product3.webp);
}

.products-content__flex-box__div--four-bg-img {
    background-image: url(../img/products/product4.webp);
}

.products-content__flex-box__div--five-bg-img {
    background-image: url(../img/products/product5.webp);
}

.products-content__flex-box__div--six-bg-img {
    background-image: url(../img/products/product6.webp);
}

.products-content__flex-box__div {
    height: 500px;
}

.products-content__flex-box__div__text-box__div {
    border: 5px solid #fff;
    margin: 1rem;
    height: 93.5%;
}

.products-content__flex-box__div__text-box__div__h6 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.3rem;
    text-align: center;
    line-height: 2.3rem;
}


/********************  Products formating end **********************/


/********************  Footer formating start **********************/

.footer-content {
    padding: 3em 5em 1em 5em;
    color: #fff;
}

.footer-content__links-box__h5,
.footer-content__opening-hours__div__h5 {
    font-size: 1.3rem;
}

.footer-content__links-box__p,
.footer-content__opening-hours__div__p {
    margin: 1em 0;
}

.footer-content__links-box__p__link,
.footer-content__opening-hours__div__p {
    font-size: 1rem;
}

.footer-content__links-box__p__link {
    color: #fff;
}

.footer-content__google-map__div__iframe {
    height: 90%;
    width: 100%;
}

.footer-content__links-box__p__img {
    width: 13px;
    top: 0.1em;
    margin-right: 0.5em;
}

.footer-content__opening-hours__div {
    width: 50%;
}


/********************  Footer formating end **********************/


/********************  Media start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {}

@media (min-width: 2000px) and (max-width: 2200px) {}

@media (min-width: 1800px) and (max-width: 2000px) {}

@media (min-width: 1600px) and (max-width: 1800px) {}

@media (min-width: 1500px) and (max-width: 1600px) {}

@media (min-width: 1400px) and (max-width: 1500px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}

@media (min-width: 991px) and (max-width: 1200px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .hamburger {
        display: flex;
    }
    .menu.hidden {
        display: none;
    }
    .menu {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #333;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        margin: 10px;
    }
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (min-width: 640px) and (max-width: 768px) {}

@media (min-width: 500px) and (max-width: 640px) {}

@media (min-width: 400px) and (max-width: 500px) {}

@media (min-width: 300px) and (max-width: 400px) {}


/********************  Media end **********************/


/********************  Boaz formating end **********************/